/* Variáveis para as cores */
:root {
    --cor-principal: #FF66B2; /* Rosa */
    --cor-secundaria: #f8f8f8; /* Cor de fundo clara */
    --cor-texto: #333;
    --cor-hover: #FF3385; /* Cor mais escura para o hover */
    --transicao: all 0.3s ease; /* Transição suave */
}

/* Reset de margin e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Barra lateral */
.barra_lateral {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: var(--cor-principal);
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease;
    z-index: 100;

    /* Adicionando o overflow para permitir a rolagem */
    overflow-y: auto; 
}

.barra_lateral::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
}

.barra_lateral::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3); /* Cor da "pegada" da barra */
    border-radius: 10px; /* Bordas arredondadas */
}

.barra_lateral::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5); /* Cor ao passar o mouse */
}


.barra_lateral.fechada {
    width: 83px;
}

.barra_lateral header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.barra_lateral .logo img {
    width: 40px;
    border-radius: 50%;
}

.barra_lateral .texto_logo {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-left: 10px;
}

.barra_lateral .texto_logo .nome_usuario {
    font-weight: bold;
    font-size: 1.2rem;
}

.barra_lateral .texto_logo .cargo_usuario {
    font-size: 0.9rem;
}

.barra_lateral .toggle {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.barra_lateral.fechada .toggle {
    transform: rotate(180deg);
}

.barra_lateral .toggle:hover {
    transform: rotate(90deg);
}
.barra_lateral.fechada .texto-menu {
    display: none;
}
.barra_lateral .menu ul {
    list-style: none;
    margin-top: 20px;
}

.barra_lateral .menu li {
    margin-bottom: 15px;
}

.barra_lateral .menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    transition: color 0.3s;
    padding: 10px;
    border-radius: 8px;
   
}

.barra_lateral .menu li a i {
    margin-right: 20px;
    font-size: 1.5rem;
}

.barra_lateral .menu li a:hover {
    background-color: #fff;
    color: var(--cor-principal);
}

.barra_lateral .menu li a:hover i {
    color: var(--cor-principal);
}

/* Estilo para o submenu */
.item-menu > .submenu {
    display: none; /* Submenu está oculto por padrão */
    list-style: none;
    margin: 10px 0 0 20px; /* Indentação para o submenu */
}

.item-menu:hover > .submenu {
    display: block; /* Exibe o submenu quando o item do menu é hover */
}

.submenu li {
    margin-bottom: 10px;
}

.submenu li a {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.submenu li a:hover {
    background-color: var(--cor-principal);
}


.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-conteudo {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-conteudo h2 {
    margin-bottom: 15px;
}

.modal-conteudo label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.modal-conteudo input,
.modal-conteudo select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.fechar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.fechar:hover {
    color: #000;
}


/* Estilo para a dashboard */
.dashboard {
    margin-left: 250px; /* Ajuste conforme a largura da barra lateral */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.dashboard {
    margin-left: 250px; /* Ajuste conforme a largura da barra lateral */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dashboard header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.dashboard h1 {
    font-size: 1.8rem;
    color: var(--cor-texto);
}

.btn-novo-profissional {
    background-color: var(--cor-principal);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: var(--transicao);
}

.btn-novo-profissional:hover {
    background-color: var(--cor-hover);
}

.btn-salvar-profissional{
    display: flex;
    background-color: var(--cor-principal);
    color: #fff;
    padding: 13px 7px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: var(--transicao);
}

.btn-salvar-profissional:hover {
    background-color: var(--cor-hover);
}


/* Tabela de profissionais */

.titulo_profissional {
    font-weight: bold;
}

.lista-profissional {
    overflow-x: auto;
}

.lista-profissional table {
    width: 100%;
    border-collapse: collapse;
}

.lista-profissional th,
.lista-profissional td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.lista-profissional th {
    background-color: var(--cor-principal);
    color: white;
}

.lista-profissional td {
    color: var(--cor-texto);
}

/* Botões de Ações */
.btn-editar,
.btn-excluir {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: var(--transicao);
}

.btn-editar {
    background-color: #00cf00;
    color: white;
}

.btn-editar:hover {
    background-color: #009f00;
}

.btn-excluir {
    background-color: #ff0000;
    color: white;
    margin-left: 5px;
}

.btn-excluir:hover {
    background-color: #cc0000;
}